:root{
    --bgcolor: rgb(226, 225, 223);
    --menuBgColor: rgb(223, 223, 200);
    --menuBgContrastColor: rgb(216, 216, 155);
    --textColor: rgb(10, 0, 19);
    --maxSize:120px;
    --paddingBig: 30px;
    --paddingSmall:10px;

    @Media only screen and (max-width:600px){
        --paddingBig:15px;
        --paddingSmall:5px;
    }
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bgcolor);
    color:var(--textColor);
    padding:0;
    margin:0;

    h1, h2, h3, h4 ,p{
        margin: 0;
        margin-left:var(--paddingBig);
        margin-right:var(--paddingBig);
    }

    li{
        list-style: none;
        display:flex;
        flex-direction:column;
        align-items: end;
        margin:0;
        padding:0;
        padding-top:var(--paddingSmall);
        padding-bottom: var(--paddingSmall);
    }

    a{
        text-decoration: none;
        color:var(--textColor);
        padding: var(--paddingSmall);
        display:block;

        &:hover{
            color:var(--menuBgColor);
            background-color: var(--textColor);    
        }
    }

}


header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--menuBgColor);
    width: 96vw;
    padding:var(--paddingBig);

    #faceContainer{
        background-image: url("sources/strokes.png");
        padding:var(--paddingBig);
    }

    .horizontalContainer{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:2vw;
    }

    .headerPicture{
        width:15vw;
        max-width: var(--maxSize);
        height:15vw;
        max-height: var(--maxSize);
        border-radius: 50%;
    }

    nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        #hamburguerIcon{
            display:none;
        }

        #navMenu{    
            display:flex;
            justify-content: space-between;
            align-items: end;
            gap:10px;
            position:relative;
            list-style: none;
        }
        
        /* Submenus pop up when their title is hovered */
        .submenu{
            display:none;
            position:absolute;
            background-color: var(--menuBgColor);
            transform: translateY(3rem);

            li{
                font-size: small;
            }
        }
        
        #navMenu :hover .submenu{
            display:block;
        }

    }
    
    @Media only screen and (max-width: 600px){
        h3{
            display:none;
        }

        nav{
            /* The hamburguer menu, and not the options, is visible */
            #navMenu{
                flex-direction: column;
                display:none;
                position: absolute;
                background-color: var(--menuBgColor);
                border: 1px solid var(--menuBgContrastColor)
            }

            #hamburguerIcon{
                display:block;
            }

            .submenu{
                display:block;
                position:relative;
                transform: none;
            }

            /* When tapping on the hamburguer icon the options appear */
            /* Note for me: while nesting, just ":hover" is an item inside that is being hovered, while "&:hover" is the same element being hovered */
            &:hover #navMenu{
                display:block;
                right:0;
            }
            

        }
    }
}


.mainGame{
    padding:10vw;

    .highlightedPictureArea{
        display:flex;
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .highlightedPicture{
            height:60vh;
            width:auto;
        }
    }

    .gallery{
        padding: var(--paddingBig);
        display:grid;
        justify-content: center;
        gap: var(--paddingSmall);
        grid-template-columns: auto auto auto auto auto;

        @Media only screen and (max-width:600px){
            grid-template-columns: auto auto auto;
        }
    }

    /* Pictures will have some special interactions associated with them*/
    .Picture{
        width: 100%;
        height:auto;
        max-width: 60vw;
        
        &:hover{
            position:fixed;
            top:10px;
            left:10vw;
            width:80vw;
            height:auto;
        }

        @Media only screen and (max-width: 600px){
                width: 40vw;
                height: auto;
            }
        
    }
}

/* NOTE: This part is commented as a proof of what i tried to achieve and why it did not work*/

/* To show pictures: There is a not displayed div with a picture as background(so it can eb edited in css) */
/* That div becomes visible when a picture is hovered and as long as it's picture is hovered */

/*
body:has(.Picture:hover){
    --bgImage: attr(src); <= This part is not only wrongly selected, but also not possible

    #offFlowImageDisplay{
        display: block;
        
        #offFlowBackgroundImage{
            background-image: url( var(--bgImage) );
        }
    }
}

#offFlowImageDisplay{
    position:fixed;
    display:none;
    top:0;
    left:0;
    height:100vh;
    width:100vw;

    #darkerBackground{
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background-color: black;
        opacity: 4 0%;
    }

    #offFlowBackgroundImage{
        position:fixed;
        top:10vh;
        left:10vw;
        width:80%;
        height: 80%;
        background-size: cover;
        opacity:100%;
    }

    &:has(#offFlowBackgroundImage:hover){
        display: block;
    }
}
*/

/* Apparently, what i am trying to do is not possible as i can not read an attribute and store it in a variable to be used further on. */

#topAnchor{
    position:fixed;
    bottom:var(--paddingBig);
    right:var(--paddingBig);
    border-radius: 50%;

    &:hover{
        background-color: var(--menuBgColor);
        border: 1px solid var(--menuBgContrastColor);
    }

    .smallIcon{
        width:var(--paddingBig);
        height: var(--paddingBig);;
    }
}

footer{
    background-color: var(--menuBgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:var(--paddingBig);
}